<footer
  class="sticky bottom-0 z-50 w-full bg-[#131A22] border-t shadow-sm md:p-6 dark:bg-gray-900"
>
  <div>
    <h2
      class="mb-4 text-sm font-semibold text-[#ddd] uppercase dark:text-white"
    >
      Follow us
    </h2>
    <ul class="text-[#ddd] dark:text-[#ddd] font-small">
      <li class="mb-2">
        <a href="#" class="hover:underline">Facebook</a>
      </li>
      <li class="mb-2">
        <a href="#" class="hover:underline">Twitter</a>
      </li>
      <li class="mb-2">
        <a href="#" class="hover:underline">Github</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Discord</a>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <hr
      class="my-6 w-1/2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-0 mx-auto"
    />
    <span class="text-[#ddd]">{{ createdDateToNow() }}</span>
  </div>
</footer>
