<div class="flex jsutify-center">
  <ul class="flex items-center gap-2">
    <!-- Previous button -->
    <li>
      <button
        class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition-all"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)"
      >
        &laquo;
      </button>
      <!-- Page Numbers -->
    </li>

    <li>
      @for (page of getPages(); track page) {
      <button
        class="px-4 py-2 rounded-lg transition-all duration-300 ease-in-out"
        [class]="
          currentPage === page
            ? 'bg-blue-500 text-white'
            : 'bg-gray-200 hover:bg-gray-300'
        "
        (click)="goToPage(page)"
      >
        {{ page }}
      </button>
      }
    </li>
    <!-- Next button -->
    <li>
      <button
        class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition-all"
        [disabled]="currentPage === totalPages"
        (click)="goToPage(currentPage + 1)"
      >
        &raquo;
      </button>
    </li>
  </ul>
</div>
